.blue-btn,
.outline-btn:hover {
  background-color: #33a1de;
  color: white;
  border-radius: 40px;
  width: 200px;
  border-width: 2px;
  border: 2px solid #77CFEB;
}

.blue-btn:hover,
.outline-btn {
  background-color: transparent;
  color: white;
  border-color: #77CFEB;
  border-radius: 40px;
  border-width: 2px;
  width: 200px;
}

.font-light {
  font-weight: 500;
}

.btn {
  background-color: inherit;
  color: inherit;
}