/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
*:focus {
	outline: none;
}

body {
	font-family: "Open Sans", sans-serif;
	color: #777;
}

a {
	color: #43aea0;
}

a:hover {
	color: #00d3b8;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-primary {
	font-family: "Lato", sans-serif;
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
#header {
	height: 64px;
	transition: all 0.5s;
	z-index: 997;
	transition: all 0.5s;
	padding: 10px 0;
	position: fixed;
	/* background: linear-gradient(to right, #0f2027, #203a43, #2c5364); */
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#header.header-scrolled {
	background: #1d443f;
	height: 64px;
	padding: 10px 0;
}

#header .logo h1 {
	font-size: 30px;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-weight: 700;
	letter-spacing: 1px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
	color: #fff;
	text-decoration: none;
}

#header .logo img {
	padding: 0;
	margin: 0;
	max-height: 45px;
}

@media (max-width: 768px) {
	#header .logo h1 {
		font-size: 28px;
		padding: 8px 0;
	}
}

#main {
	margin-top: 80px;
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu,
.nav-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-menu>ul>li {
	position: relative;
	white-space: nowrap;
	float: left;
	/* font-size: larger; */
}

.nav-menu a {
	display: block;
	position: relative;
	color: #d2ece9;
	padding: 10px 10px;
	transition: 0.3s;
	font-size: 14px;
	font-weight: 500;
	font-family: "Open Sans", sans-serif;
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
	/* color: #9cd5ce; */
	color: white;
	text-decoration: none;
}

.nav-menu .drop-down ul {
	display: block;
	position: absolute;
	left: 0;
	top: calc(100% - 30px);
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	padding: 10px 0;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	transition: ease all 0.3s;
}

.nav-menu .drop-down:hover>ul {
	opacity: 1;
	top: 100%;
	visibility: visible;
}

.nav-menu .drop-down li {
	min-width: 180px;
	position: relative;
}

.nav-menu .drop-down ul a {
	padding: 10px 20px;
	font-size: 14px;
	font-weight: 500;
	text-transform: none;
	color: #25564f;
}

.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active>a,
.nav-menu .drop-down ul li:hover>a {
	color: #70b9b0;
}

.nav-menu .drop-down>a:after {
	content: "\ea99";
	font-family: IcoFont;
	padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
	top: 0;
	left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover>ul {
	opacity: 1;
	top: 0;
	left: 100%;
}

.nav-menu .drop-down .drop-down>a {
	padding-right: 35px;
}

.nav-menu .drop-down .drop-down>a:after {
	content: "\eaa0";
	font-family: IcoFont;
	position: absolute;
	right: 15px;
}

@media (max-width: 1366px) {
	.nav-menu .drop-down .drop-down ul {
		left: -90%;
	}

	.nav-menu .drop-down .drop-down:hover>ul {
		left: -100%;
	}

	.nav-menu .drop-down .drop-down>a:after {
		content: "\ea9d";
	}
}

/* Mobile Navigation */
.mobile-nav {
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 9999;
	overflow-y: auto;
	left: -260px;
	width: 260px;
	padding-top: 18px;
	background: #01292a;
	transition: 0.4s;
}

.mobile-nav * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.mobile-nav a {
	display: block;
	position: relative;
	color: #d2ece9;
	padding: 10px 20px;
	font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active>a,
.mobile-nav li:hover>a {
	color: #9cd5ce;
	text-decoration: none;
}

.mobile-nav .drop-down>a:after {
	content: "\ea99";
	font-family: IcoFont;
	padding-left: 10px;
	position: absolute;
	right: 15px;
}

.mobile-nav .active.drop-down>a:after {
	content: "\eaa0";
}

.mobile-nav .drop-down>a {
	padding-right: 35px;
}

.mobile-nav .drop-down ul {
	display: none;
	overflow: hidden;
}

.mobile-nav .drop-down li {
	padding-left: 20px;
}

.mobile-nav-toggle {
	position: fixed;
	right: 15px;
	top: 15px;
	z-index: 9998;
	border: 0;
	background: none;
	font-size: 24px;
	transition: all 0.4s;
	outline: none !important;
	line-height: 1;
	cursor: pointer;
	text-align: right;
}

.mobile-nav-toggle i {
	color: #fff;
}

.mobile-nav-overly {
	width: 100%;
	height: 100%;
	z-index: 9997;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(1, 41, 42, 0.9);
	overflow: hidden;
	display: none;
}

.mobile-nav-active {
	overflow: hidden;
}

.mobile-nav-active .mobile-nav {
	left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
	color: #fff;
}

/*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
#hero {
	width: 100%;
	height: 100vh;
	min-height: 600px;
	/* background: url('../Data/img/logo.png') top center; */
	/* background: url("../Data/img/11765\ \(copy\).jpg") center; */
	/* background: url("../Data/img/343253-PB1Q6N-747.jpg") top center; */
	/* background: linear-gradient(79deg, rgba(0, 28, 125, 1) 0%, rgba(2, 28, 131, 1) 49%, rgba(2, 111, 206, 1) 100%); */
	/* background: #4c9dbf; */
	/* background: linear-gradient(#001d7b, #4c9dbf); */
	/* background-image: radial-gradient(circle, #4c9dbf, #007fb4, #0060a7, #004195, #001d7b); */
	/* background: linear-gradient(79deg, rgba(1, 29, 127, 1) 0%, rgba(0, 132, 215, 1) 90%); */
	background-color: rgb(7, 17, 39);
	/* background-image: linear-gradient(to right bottom, #001d7b, #003795, #0051ad, #006bc5, #0086db); */
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	margin-bottom: -10px;
}

#hero:before {
	content: "";
	/* background: rgba(5, 18, 38, 0.8); */
	/* background: rgba(0, 1, 19, 0.6); */
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

#hero .hero-container {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	padding-top: 80px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

#hero h1 {
	margin: 0 0 5px 0;
	font-size: 48px;
	font-weight: 300;
	line-height: 56px;
	color: #fff;
	font-weight: 400;
}

#hero h2 {
	color: #eee;
	margin-bottom: 50px;
	font-size: 20px;
	font-weight: 300;
}

#hero .btn-get-started {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 8px 28px 10px 28px;
	border-radius: 50px;
	transition: 0.5s;
	border: 1px solid #fff;
	/* color: #fff; */
}

#hero .btn-get-started:hover {
	background: #fff;
	color: #70b9b0;
	border: 1px solid #70b9b0;
}



@media (min-width: 1024px) {
	#hero {
		background-attachment: fixed;
	}
}

@media (max-height: 600px) {
	#hero {
		height: 50vh;
	}
}

@media (max-width: 768px) {
	#hero h1 {
		font-size: 28px;
		line-height: 36px;
	}

	#hero h2 {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 30px;
	}
}

i {
	padding: 10px;
}